{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<h1 class="my-4">Product list</h1>


<div class="row">
{% for product in products %}
    <div id="{{ product.id }}" class="col-3 my-3">
        <!-- Card -->
        <div class="card shadow-sm">

            {# afficher l'image sinon mettre une image "?" #}
            {% if product.images %}
                <!-- Card image -->
                <img class="card-img-top" src={{ asset(product.images) }} alt="{{product.images}}">
            {% else %}
                <img class="card-img-top" src={{ asset('build/images/products/unknown.png') }} alt="unknown product">
            {% endif %}

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a href={{ path('show_product', {'id' : product.id}) }}>{{ product.title }}</a></h4>
                <!-- Text -->
                <p class="card-text">{{ product.description }}</p>

            </div>

        </div>
    <!-- Card -->
    </div>
{% endfor %}
</div>

{% endblock %}
