{% extends 'base.html.twig' %}

{% block title %}New product{% endblock %}

{% block body %}

{{ form_start(form) }}

<div class="card">
    <div class="card-header">
        <h1>New product</h1>
    </div>

    <div class="card-body">

        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="form-group">
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
        </div>
        <div class="form-group">
            {{ form_label(form.stock) }}
            {{ form_widget(form.stock) }}
        </div>
        <div class="form-group">
            {{ form_label(form.brand) }}
            {{ form_widget(form.brand) }}
        </div>
        <div class="form-group" id="list_holder">
            {{ form_label(form.images) }}

            {{ form_errors(form.images) }}

            <ul class="list-group" id="img_list">
            {% for row in form.images %}
                <li class="list-group-item" id="image_0">
                    <div class="row">
                        <div class="col-7">
                            {{ form_errors(row) }}
                            {{ form_widget( row, {'attr': {'class': 'form-control'}} ) }}
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>

        </div>
        <div class="card">
            <div class="card-header">
                {{ form_label(form.categories) }}
            </div>
            <div class="card-body">
                {% for row in form.categories %}
                    <div>
                        <label for="inputCategories">{{ form_widget(row) }} {{row.vars.label}}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
            
    </div>

    <div class="card-footer">
        {{ form_widget(form.save) }}
    </div>
</div>


{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('formProduct') }}
{% endblock %}