{% extends 'base.html.twig' %}

{% block body %}
    <h1>New product</h1>

    {{ form_start(form) }}
        {{ form_widget(form.title) }}
        {{ form_widget(form.description) }}
        {{ form_widget(form.price) }}
        {{ form_widget(form.stock) }}
        {{ form_widget(form.brand) }}
        {{ form_widget(form.images) }}


        <div class="card" id="category_list" data-prototype={{ form_widget(form.categories.vars.prototype)|e('html_attr') }}>
            <div class="card-header">
                <p>{{ form_row(form.categories) }}</p>
            </div>
            <div class="card-body">
                {% for row in form.categories %}
                    <div class="panel">
                        <div class="panel-body">
                            {{ form_widget(row.name) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dynamicForms') }}
{% endblock %}