{% extends 'base.html.twig' %}

{% block title %}New product{% endblock %}

{% block body %}

{{ form_start(form) }}

<div class="card">
    <div class="card-header">
        <h1>New product</h1>
    </div>

    <div class="card-body">

        <div class="form-group">
            <label for="inputTitle">Title</label>
            {{ form_widget(form.title) }}
        </div>
        <div class="form-group">
            <label for="inputDescription">Description</label>
            {{ form_widget(form.description) }}
        </div>
        <div class="form-group">
            <label for="inputPrice">Price</label>
            {{ form_widget(form.price) }}
        </div>
        <div class="form-group">
            <label for="inputStock">Stock</label>
            {{ form_widget(form.stock) }}
        </div>
        <div class="form-group">
            <label for="inputBrand">brand</label>
            {{ form_widget(form.brand) }}
        </div>
        <div class="form-group">
            <label for="inputImages">images</label>
            {{ form_widget(form.images) }}
        </div>
        <div class="card">
            <div class="card-header"><label>Categories</label></div>
            <div class="card-body">
                {% for row in form.categories %}
                    <div>
                        <label for="inputCategories">{{ form_widget(row) }} {{row.vars.label}}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
            
    </div>

    <div class="card-footer">
        {{ form_widget(form.save) }}
    </div>
</div>


{{ form_end(form) }}
{% endblock %}