{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}

<div class="card">
    <div class="card-header">
        <div class="row">
        <h1 class="col-8">{{ product.title }}</h1>
        <h2 class="col-4">{{ product.price|number_format(2, '.', ' ') }}€</h2>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <p>{{ product.description }}</p>
            </div>

            <div class="col-6 text-center">

                {% if product.images %}
                    <!-- Slideshow container -->
                    <div class="slideshow-container border card">
                        {% for image in product.images %}
                            <div class="mySlides">
                                <img src={{ product_image(image) }} alt={{ image }}>
                            </div>
                        {% endfor %}
                    </div>
                
                    <button class="btn btn-primary" id="slideshow_prev"><i class="fas fa-chevron-left"></i></button>
                    <button class="btn btn-primary" id="slideshow_next"><i class="fas fa-chevron-right"></i></button>

                {% endif %}

            </div>
        </div>

        {# Redirection vers la page de connexion si il n'a pas de compte #}
        {% if app.user %}
            {% set redirect = path('add_product', {'id' : product.id}) %}
        {% else %}
            {% set redirect = path('app_login') %}
        {% endif %}
        <a class="btn btn-primary mt-3" href={{ redirect }}>Ajouter au panier</a>
        
        
    </div>

    <div class="card-footer">
        <h2 id="comments">Comments</h2>
        {% if product.comments|length != 0 %}
            <table class="table">
                <thead>
                    <tr scope="row">
                        <th scope="col">Author</th>
                        <th scope="col">Publication date</th>
                        <th scope="col">Description</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th scope="col"></th>
                        {% endif %}
                    </tr>
                </thead>

                <tbody>
                    {% for comment in product.comments %}
                        <tr scope="row">
                            <td>{{ comment.author }}</div>
                            <td>{{ comment.date|date("d/m/Y") }}</div>
                            <td>{{ comment.description }}</div>
                            {% if is_granted('ROLE_USER') %}
                                <td class="btn btn-danger" href={{ path('delete_comment', {'id':comment.id}) }}><i class="fas fa-trash"></i></a>
                            {% endif %}
                        </tr> 
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No one left a comments here...</p>  
        {% endif %}
        

        {% if app.user %}
            {{ form_start(commentForm, {'attr':{'class':'border-top mt-4 pt-2'}}) }}
                {{ form_row(commentForm.description) }}
                {{ form_widget(commentForm.save) }}
            {{ form_end(commentForm) }}
        {% endif %}
    </div>
</div>

<a class="btn btn-primary mt-3" href={{ path('product_list') }}>Retour aux produits</a>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('slideShow') }}
{% endblock %}