{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}

<div class="card">
    <div class="card-header">
        <div class="row">
        <h1 class="col-4">{{ product.title }}</h1>
        <h1 class="col-2 offset-6">{{ product.price }}€</h1>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <p>{{ product.description }}</p>
        </div>

        <div class="row text-center">

            {% if product.images %}
                <!-- Slideshow container -->
                <div class="slideshow-container border">
                
                    {% for image in product.images %}
                        <div class="mySlides">
                            <img src={{ product_image(image) }} alt={{ image }}>
                        </div>
                    {% endfor %}

                    <button class="btn btn-primary" id="slideshow_prev"><i class="fas fa-chevron-left"></i></button>
                    <button class="btn btn-primary" id="slideshow_next"><i class="fas fa-chevron-right"></i></button>
                </div>
            {% endif %}

        </div>

    </div>
</div>

<a class="btn btn-primary mt-3" href={{ path('product_list') }}>Retour aux produits</a>
<a class="btn btn-primary mt-3" href={{ path('add_product', {'id' : product.id}) }}>Ajouter au panier</a>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('slideShow') }}
{% endblock %}