{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<h1 class="my-4">{{ product.title }}</h1>

<p>{{ product.description }}</p>

<p>{{ product.price }}</p>

<button name="ajoutPanier" onclick="{{ path('Add_Product', {'id' : product.id}) }}"

<a href={{ path('product_list') }}>Retour aux produits</a>

{% endblock %}
