{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div class="card">
    <div class="card-header">
        <h1>{{ product.title }}</h1>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <p>{{ product.description }}</p>
            </div>

            {% for image in product.images %}
                <div class="col-6">
                    <img class="card-img-top" src={{ product_image(image) }} alt={{ image }}>
                </div>
            {% endfor %}

        </div>
    </div>
</div>


<a class="btn btn-primary mt-3" href={{ path('product_list') }}>Retour aux produits</a>

{% endblock %}
